/vendor/
/node_modules/
/.idea/
/.vscode/
/.phpunit.cache/
/.phpunit.result.cache
/composer.lock
/package-lock.json
/.env
/.env.backup
/.env.production
.DS_Store
Thumbs.db
*.log
*.cache
/.php-cs-fixer.cache
/.php-cs-fixer.php
/phpunit.xml
/phpstan.neon
